.align-items-start{
  background-image:url('./assets/images/background.png'); padding-bottom: '30px'; display:'flex';
  color: white;
}

.navbar,.list-group-item,.card-header{
  background-color: #1C448F;color: white ;
}
.blue{
  color:  #67ADF5;
}
#body{
  background-image:url('./assets/images/background2.png');
}
.list-group-item:active {
color: #d1e8ff;
  opacity: 0.8;
}
body {
  overflow-x: hidden;
}

.blue-text,.blue-text th{
color:#054DBC
}
#footer{
  background-color: black;
  color: white;
}
#image{background-image:url('./assets/images/web.jpg');background-repeat: no-repeat;background-position: center; min-height: 150px}
#left{ background-color: #1C448F; width:20rem;border:none}