.align-items-start{
  background-image:url('./assets/images/background.png'); padding-bottom: '30px'; display:'flex';
  color: white;
}

.navbar,.list-group-item,.card-header{
  background-color: #1C448F;color: white ;
}
.blue{
  color:  #67ADF5;
}
#body{
  background-image:url('./assets/images/background2.png');
}
.list-group-item:active {
color: #d1e8ff;
  opacity: 0.8;
}
body {
  overflow-x: hidden;
}

.blue-text,.blue-text th{
color:#054DBC
}
#footer{
  background-color: black;
  color: white;
}
#image{background-image:url('./assets/images/web.jpg');background-repeat: no-repeat;background-position: center; min-height: 150px}
#left{ background-color: #1C448F; width:20rem;border:none}


#map{
height: 280px;
width: 100%;
}
.fixed-label {
  width: 100px; /* adjust as needed */
  white-space: nowrap;
}
.error {
  color: red;
  font-size: 0.9rem;
  margin-top: 4px;
}
.input-error {
  border: 2px solid red;
  outline: none;
}
.input-error:focus {
  box-shadow: 0 0 5px red;
}
